.ChangedInfo {
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.changedinfo_input {
    margin-bottom: 30px;
}

.changedinfo_wrap {
    border: none;
    outline: none;
    border-bottom: 1px solid #191919;
    padding: 3px;
    width: 500px;
    margin: 4px 3px;
}

.changedinfo_wrap:hover {
    border-bottom: 1px solid black;
}


.changedinfo_btn {
    border: none;
    width: 190px;
    height: 42px;
    border-radius: 10px;
    background-color: #191919;
    color: yellow;
    cursor: pointer;
}

.changedinfo_btn:hover {
    background-color: #2b2b2b;
}