.ChangedPassword {
    width: 500px;
    margin: auto;
    margin-top: 100px;
}

.change_pw {
    margin-bottom: 20px;
}

.changepw_wrap {
    border: none;
    outline: none;
    border-bottom: 1px solid #191919;
    padding: 3px;
    width: 500px;
    margin: 2px 0;
}


.member_msg {
    font-size: 13px;
    font-weight: 700;
}


.changed_btn {
    border: none;
    width: 190px;
    height: 42px;
    border-radius: 10px;
    background-color: #191919;
    color: yellow;
    cursor: pointer;
}


.btn_area {
    margin-top: 40px;
}

.changed_btn:hover {
    background-color: #2b2b2b;
}